<!doctype html>
<html>
  
  <head>
    <title>Wsh Lst</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/themes/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/40603402baf15988cb132cccdd6305f064f98f70.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Wsh Lst</a>
          <div class="navbar-content">
            <ul class="nav "></ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="hero-unit">
        <h1>Wsh List</h1>
        <p>
			Wish Lists from your Smartphone!
        </p>
      </div>


		  
      </div>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>